{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
  ],
  "rules": {
    "class-methods-use-this": [0],
    "react/jsx-closing-bracket-location": [2, {
      "selfClosing": "line-aligned",
      "nonEmpty": "after-props"
    }],
    "react/forbid-prop-types": [1, { "forbid": ["any"] }]
  },
  "globals": {
    "document": true,
    "window": true
  }
}
